@import "./normalise.scss";

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Alice', serif;
    background-color: #F5EBEB;
}

main {
    width: 100%;
    height: 100%;
}

h1 {
    margin: 0 auto;
    padding: 48px 0;
    text-align: center;
}